<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form><center>
    <table cellpadding="30px">
        <tr><td>Name</td>
            <td><input type="text" name="name"></td>
        </tr>
        <tr><td>Date Of Birth</td>
            <td><input type="date" name="dob"></td>
        </tr>
        <tr><td>Age</td>
            <td><input type="text" name="age"></td>
        </tr>
        <tr><td>Gender</td>
            <td><input type="radio" name="male">Male
            <input type="radio" name="female">Female</td>
        </tr>
        <tr><td>Ph No</td>
            <td><input type="text" name="ph"></td>
        </tr>
        <tr><td>E-Mail</td>
            <td><input type="email" name="mail"></td>
        </tr>
        <tr><td>Address</td>
            <td><input type="text" name="name"></td>
        </tr>
        <tr><td>District</td>
            <td><select name="branch" >
  <option value="Kannur">Kannur</option>
  <option value="Kozhokode">Kozhikode</option>
  <option value="Eranakulam">Eranakulam</option>
  <option value="Thiruvananthapuram">Thiruvananthapuram</option>
</select></td>
        </tr>
<tr><td>Account Type</td>
            <td><select name="acctype" >
  <option value="sacc">Savings Acc</option>
  <option value="cacc">Current Acc</option>
  <option value="Fixed">Fixed Deposite</option>
  </select></td>
        </tr>
     <tr><td> <button type="submit" class="btn btn-primary">Submit</button></td>
            <td> <button type="submit" class="btn btn-primary">Logout</button></td>
        </tr>
    </table></center>
</form>

</body>
</html>